
body {
	margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	display: inline-block;
	margin-left: 20px;
}

.about-area {
	background-color: #38aecc;
	padding: 40px 0;
}

.header-area {
	margin-bottom: 120px;
}

.description-title {
	font-family: 'Gentium Book Basic', sans-serif;
    padding-bottom: 5px;
    font-size: 25px;
    padding-top: 30px;
	font-weight: 600;
}

.header-title {
	margin-bottom: 40px;
	font-family: Gentium Book Basic, sans-serif;
	color: white;
	font-size: 48px;
	font-weight: 700;
}

.header-subtitle {
	font-size: 30px;
	font-family: Gentium Book BAsic, sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}

.title {
	font-family: gentium book basic, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
	color: #37404d;
}

.sub-title {
	font-size: 16px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	margin-bottom: 50px;
	color: #8f949b;
	line-height: 30px;
}

.banner-title {
	font-family: gentium book basic, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
	color: #444d59;
}

.banner-subtitle {
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #8f949b;
	margin-bottom: 40px;
}

.product-title {
	font-family: Gentium book basic, sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}

.product-subtitle {
	font-family: poppins, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #b8bcc0;
	line-height: 25px;
}

.employe-position {
	font-size: 12px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	color: #5d646f;
	margin-bottom: 15px;
}

.video-play-btn {
	height: 140px;
	position: relative;
	margin-bottom: 140px;
	margin-top: 90px;
}

.comment-btn {
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: transparent;
	font-family: poppins, sans-serif;
	font-weight: 600;
	color: gray;
}

.comment-btn:hover {
	color: white;
	background: gray;
	transition: .5s;
}

.previous-btn {
	margin-top: 0;
    padding: 10px 25px;
    font-family: poppins, sans-serif;
	font-weight: 600;
    border: none;
    color: #8b8f95;
}

.previous-btn i {
	margin-right: 10px;
}

.next-btn i {
	margin-left: 10px;
}

.send-btn {
	padding: 10px;
	width: 50%;
	background: #007ea7;
    color: white;
    font-family: 'Poppins' sans-serif;
	font-weight: 600;
    border: none;
    margin-bottom: 60px;
}

.next-btn {
	margin-top: 0;
	padding: 10px 45px;
	border: none;
	font-family: poppins, sans-serif;
	font-weight: 600;
	color: #8b8f95;
}

.log-in-btn {
    padding: 15px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-family: 'Gentium Book Basic', sans-serif;
    border-radius: 5px;
	width: 35%;
	margin: 5px;
}

.log-in-btn:hover {
	background: #3bd3fb;
	border: 1px solid white;
	font-weight: 600;
}

.started-btn {
	padding: 15px;
    color: white;
    width: 40%;
    background: #2bd9fe;
    border-radius: 30px;
    border: none;
    font-family: 'Gentium Book Basic', sans-serif;
    font-weight: 600;
	border: 1px solid transparent;
}

.started-btn:hover {
	background: white;
	border: 1px solid #2bd9fe;
	color: #2bd9fe;
}

.add-to-cart {
	position: relative;
	color: white;
}
.add-to-cart::after {
	content: '1';
    height: 20px;
    width: 20px;
    background: red;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    font-family: poppins, sans-serif;
    top: -10px;
    border: 2px solid lightblue;
    left: 10px;
    padding: 2px;
	color: white;
}

.bdr-btn {
	position: relative;
}

.bdr-btn::before {
	content: '';
	border-bottom: 2px solid white;
	position: absolute;
    height: 2px;
    width: 100px;
    top: 40px;
    left: 44%;
}


.about-area span {
	font-family: poppins, sans-serif;
	font-weight: 300;
}

.about-area ul {
	float: right;
}

.about-area ul li {
	display: inline-block;
	margin-left: 30px;
}

.banner-area {
	padding-top: 70px;
	padding-bottom: 70px;
}

.about-area ul li a {
	text-decoration: none;
	color: white;
	font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
}

.about-area ul li a:hover {
	color: #34dbfe;
}

.layer-one {
	background: #56b5cd;
	border-radius: 50%;
	height: 136px;
	width: 136px;
	line-height: 136px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -68px;
	margin-left: -68px;
}

.layer-two {
	background: #6fc0d4;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.layer-three {
	background: #84c9da;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

.layer-two i {
	color: white;
	height: 32px;
	width: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -8px;
	padding: 0;
	font-size: 30px;
}

.about-description {
	margin-top: 70px;
}

.about-support i {
	font-size: 45px;
	margin-bottom: 20px;
}


.about-project-details {
	background-color: #38aecc;
	padding: 70px 0;
}

.about-btn {
	padding: 15px 40px;
	border: none;
	background: #03c5f8;
	color: white;
	font-family: Gentium Book Basic, sans-serif;
	font-weight: 400;
	margin-top: 40px;
	font-size: 16px;
	border: 1px solid transparent;
}

.about-btn:hover {
	color: #03c5f8;
	background: white;
	border: 1px solid #03c5f8;
}

.project-right img {
	margin-left: 302px;
}

.accordion-item {
	border: 1px solid #03c5f8;
	border-top: 1px solid #03c5f8 !important;
	margin-bottom: 10px;
}

.accordion-item p {
	margin-bottom: 0;
	width: 100%;
}

.accordion-body {
	padding: 0;
    margin-left: 15px;
    color: black;
    font-weight: 600;
    font-family: poppins, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
    margin-bottom: 20px;
}

.accordion-button {
	padding: 10px;
	color: black;
	font-weight: 600;
}

.accordion-button:focus {
	border: 0;
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	color: #03c5f8;
	background: none;
	box-shadow: none;
	font-size: 16px;
}

.accordion-button.collapsed:focus i {
	transform: rotate(360deg);
}

.accordion-button:focus i {
	transform: rotate(90deg);
}

.about-product-missions {
	margin: 70px 0;
}

.project-left img {
	margin-left: -305px;
}

.about-choose-us {
	background-color: #38aecc;
	padding: 70px 0;
}

.about-choose-us h2 {
	color: white;
}

.about-box {
	background: white;
    padding: 40px;
    border-right: 3px solid #eaeaea;
}

.about-box i {
	border: 1px solid #eaeaea;
    border-radius: 50%;
    margin-bottom: 50px;
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 90px;
	font-size: 35px;
}

.about-team {
	margin: 70px 0;
}

.team-box {
	border: 1px solid #c3bebe;
	margin: 0 20px;
	padding: 0 40px;
}

.team-box ul li {
	margin: 25px 5px;
}

.team-box ul li i {
	font-size: 20px;
    color: white;
    background: red;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
}

.about-team Img {
	width: 50%;
	margin-top: -60px;
    padding-bottom: 25px
}

.about-slider i {
	margin-top: 155px;
	background: #2ab7ca;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 30px;
}

.copyright {
	background-color: #7ebce6;
	padding: 30px 0;
}

.copyright p {
	padding: 0;
	color: white;
	margin: 0;
}

.copyright ul {
	float: right;
}

.copyright a {
	color: white;
}

.header-menu {
	float: right;
	padding: 0;
}

.blog-details-area {
	background-color: #38aecc;
	padding-bottom: 60px;
}

.blog-search {
	padding: 14px 1px 15px 25px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;;
	font-weight: 400;;
    font-size: 13px;
    border: none;
    width: inherit;
}

.header-banner span	i {
	font-size: 12px;
    padding: 17px 25px 17px 60px;
    background: white;
    border-radius: 25px;
    margin-left: -110px;
}

.blog-description {
	margin: 70px 0;
}

.video-container iframe {
	position: absolute;
}

.description-image {
	position: relative;
	height: 500px;
	background-image: url(../images/thumbnail.png);
}

.share {
	border: 2px solid #f6f6f6;
}

.share i {
    margin: 0;
    padding: 8px 20px;
    font-size: 20px;
    color: #8b95c9;
}

.textarea {
	padding: 10px 20px;
    color: #989da3;
    background: #fafafa;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	width: 100%;
}

.comments-view {
	margin: 30px 0;
}

.comments-reply span i {
	font-size: 15px;
	margin-right: 12px;
}

.comments-reply span {
	color: #8b95c9;
	float: right;
}

.share-heart i {
	border-left: 1px solid #f6f6f6;
	margin-left: -1px;
}

.blog-page-description {
	margin-top: 50px;
}

.blog-right-description {
	padding-left: 100px;
}

.blog-right-description p {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	color: dimgray;
}

input[type=search]{
	border: none;
	border-bottom: 1px solid #f2f2f2;
	font-family: poppins, sans-serif;
	font-weight: 400;
	width: 100%;
	margin-bottom: 20px;
}

input[type=search]:focus-visible {
	outline: none;
}

.blog-right-description span {
	margin-left: -40px;
}

.blog-right-description span i {
	font-size: 20px;
	color: #7f7f7f;
}

.blog-pages-text {
	box-shadow: 0 0 15px -10px dimgray;
	margin-top: -100px;
	background: white;
	padding: 25px;
}

.blog-pages-text a i {
	font-size: 16px;
	margin-left: 10px;
}

.blog-pages-text ul {
	float: right;
}

.blog-pages-text ul li a {
	color: gray;
}

.blog-pages-text a {
	color: #69d1c5;
	font-family: 'Gentium Book Basic', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.blog-pages-text ul li a span {
	font-family: poppins, sans-serif;
	font-weight: 600;
	margin-left: 12px;
	font-size: 12px;
}

.blog-left-description {
	border-bottom: 1px solid gray;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.blog-left-description img {
	height: 300px;
	width: 100%;
}

.blogpage-slider-button {
	padding-bottom: 50px;
}

.blogpage-previous i {
	font-size: 15px;
	margin-right: 10px;
}

.blogpage-next i {
	font-size: 15px;
	margin-left: 10px;
}

.copyright-border {
	border-right: 1px solid #9ecdec;
}

.cart-overview {
	background-color: #8785e0;
	color: white;
}

.overview-product-description {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 60px;
}

.overview-product-name {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
	margin-top: 20px;
}

.overview-product-name span {
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.overview-product-name span input {
	text-align: center;
	width: 50px;
	height: 25px;
	margin-left: 10px;
	border: 1px solid #ededed;
}

.product-specification h4 i {
	font-size: 15px;
    margin-left: 8px;
}

.product-description {
	background: whitesmoke;
	padding-top: 70px;
	padding-bottom: 70px;
}

.product-details {
	background: white;
	border: 1px solid #e9e9e9;
	padding: 40px 40px 0;
}

.cart-amount {
    width: 100%;
    text-align: right;
}

.cart-amount td {
    padding: 8px;
}

.product-description button {
	margin: 20px 0 50px;
	float: right;
    padding: 15px 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
	font-weight: 600;
    background: #2f93e2;
    color: white;
	border: 1px solid transparent;
}

.shipping-address {
	width: 100%;
    padding:10px;
    border-radius: 5px;	
    border: 1px solid #e1e3e4;
    margin-bottom: 15px;
    color: #858b93;
}

.shipping-area {
	background: #f9f9f9;
}

.shipping-details {
	border: 1px solid #e1e3e4;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: white;
}

.header-area .navbar {
	float: right;
	padding: 0;
}

.contact .header-banner i {
	border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    margin-bottom: 15px;
	color: white;
}

.helpline-area {
	margin: 50px 0;
}

.helpline-left {
	padding-right: 80px;
}

.helpline-left input {
	width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;;
    font-size: 15px;
    color: black;
	margin: 15px 0;
	padding-bottom: 25px;
}

.helpline-left input:focus {
	outline: none;
}

.helpline-left select {
	width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
	padding-bottom: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
	font-weight: 600;
}

.helpline-left label {
	font-weight: 600;
	color: gray;
}

.helpline-left select:focus {
	outline: none;
}

.helpline-left textarea {
	color: black;
}

.helpline-left textarea:focus {
	outline: none;
}

.helpline-search {
	border-bottom: 1px solid #e0e0e0;
}

.helpline-search input {
	border: none;
    width: 90%;
}

.helpline-search i {
	font-size: 15px;
	color: #737982;
	float: right;
	margin-bottom: 5px;
}

.helpline-right-question {
    border: 1px solid #e0e0e0;
    margin-top: 10px;
    padding: 0 10px;
}

.helpline-right-question select {
    border: none;
    width: 100%;
    padding: 15px 0;
}

.helpline-left button {
	width: 100%;
    padding: 10px;
    margin-top: 45px;
    border: none;
    background: #03c5f8;
    color: white;
    font-family: 'Poppins' sans-serif;
	font-weight: 600;
}

.contact-map {
	text-align: center;
	padding: 25px 0px 0px;
}

.contact-map img {
	width: inherit;
}

.pricing01-offer {
	background-image: url(../images/Pricing_bg.png);
	color: white;
	padding: 20px 0;
	background-size: cover;
}

.pricing01-area {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #565cc9;
	color: white;
}

.pricing01-select-btn {
	margin: 120px 0 30px;
	float: right;
    padding: 15px 40px;
    border: 2px solid transparent;
    background: #0e81d9;
    color: white;
    border-radius: 50px 0 0 50px;
    font-family: 'Poppins' sans-serif;
	font-weight: 600;
    font-size: 15px;
    box-shadow: -2px 3px 5px 0px #095590;
}

.pricing01-select-btn:hover {
	box-shadow: -3px 0px 5px 2px #095590;
}

.pricing01-details-btn {
	padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-family: 'Poppins' sans-serif;
	font-weight: 600;
	margin: 25px 0 0;
}

.pricing01-details-btn:hover {
	box-shadow: 0px 0px 10px 2px #095590;
	background-color: white;
	color: #007ea7;
	transition: 1s;
}

.pricing01-offer-price {
	padding-left: 30px;
	text-align: left;
}

.pricing01-offer p {
	color: white;
	padding: 15px 0;
	margin: 0;
}

.pricing01-offer p:hover {
	background-color: white;
	color: #0084e9;
}

.pricing01-offer h6 {
	font-size: 12px;
}

.pricing01-offer h3	{
	font-family: Gentium Book Basic, sans-serif;
	font-size: 40px;
}

.pricing01-para {
	background: #0084e9;
}

.pricing01-answer-box {
	padding: 20px 35px;
    border-bottom: 1px solid #f2f2f2;
}

.pricing01-answer-box select {
    background: white;
}

.pricing01-answer-sheet .accordion-button:not(.collapsed) i {
	transform: rotate(180deg);
	color: black;
	padding-bottom: 0;
	font-size: 16px;
}

.pricing01-answer-sheet {
	margin-bottom: 0;
	box-shadow: 1px -2px 5px 5px #f3faff;
	padding: 0;
}

.pricing01-answer-box:hover {
	background: lightgray;
}

.pricing01-answer-sheet .accordion-button:focus {
	box-shadow: none;
	border-bottom: none;
}

.pricing01 .cart-overview {
	background: #107dd0;
}

.pricing02-area {
	background-color: #f4f4f4;
	padding: 80px 0;
}

.pricing02-area .pricing01-header p {
	font-size: 17px;
}

.pricing02-box {
	text-align: center;
}

.pricing02 .mobile-contact {
	text-align: center;
    background: #2799c1;
    color: white;
    height: 250px;
}

.pricing02 .copyright {
	margin-top: 65px;
}

.pricing02 .contact-details button {
    padding: 10px 70px;
    border: none;
    border-radius: 25px;
    background: #2799c1;
    color: white;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;;
}

.pricing02 input[type=name],input[type=subject],input[type=message] {
	width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.pricing02 input[type=email] {
	width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.contact-us input {
	width: 100%;
	padding: 10px;
    margin: 10px 0;
    background: #f5f5f5;
    border: none;
    font-family: poppins, sans-serif;
	font-weight: 400;
    color: #93989f;
}

.faq02-banner .accordion-item {
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 0;
	border-top: none !important;
	padding: 0;
}

.faq02-banner .accordion-button:not(.collapsed) {
	margin-bottom: 0;
}

.faq02-banner .accordion {
	box-shadow: 0px 0px 10px -3px #03c5f8;
}

.gmail-head {
	background: #4d84e3;
	color: white;
	padding-bottom: 50px;
	padding-top: 50px;
}

.gmail-banner {
	margin-bottom: 50px;
}


.gmail-head-left {
	padding-top: 70px;
}

.gmail-header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.gmail-header i {
	float: right;
	font-size: 20px;
}

.get-gmail {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.gmail-all {
	background: #f4f4f4;
	padding-top: 50px;
	padding-bottom: 50px;
}

.gmail-left-content {
	text-align: right;
}

.gmail-all i {
	color: #685b5b;
	font-size: 30px;
	margin-bottom: 15px;
}

.gmail-business {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.gmail-business-box p {
	padding: 13px;
}

.bg-blue {
	background: #508df7;
	color: white;
    padding: 13px;
    font-family: 'Gentium Book Basic', sans-serif;
}

.gmail-business-box {
	box-shadow: 0 2px 6px 4px #f9f9f9;
	padding-bottom: 30px;
}



.gmail-business-box h2 {
	padding: 0;
	font-size: 30px;
	font-family: gentium book basic, sans-serif;
}

.gmail-business-box span {
	font-size: 40px;
}

.gmail-business-box span sup {
	margin-top: -10px;
}

.gmail-business-box select {
	border: none;
	font-size: 12px;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;;
}

.download-area {
	background: #508df7;
	padding-top: 70px;
}

.download-left-content	{
	padding-top: 100px;
	padding-right: 120px;
}

.download-area .copyright {
	background: #508df7;
}

.download-area .copyright .copyright-body {
	border-top: 1px solid white;
	margin-top: 40px;
	padding-top: 20px;
}

.mobile-app-accordion {
	padding-top: 70px;
	padding-bottom: 70px;
}

.mobile-app-accordion .accordion-item {
	border: none;
	border-top: none !important;
	padding: 0;
}

.mobile-app-accordion .accordion-body {
	margin-left: 48px;
	font-size: 14px;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}

.mobile-app-accordion .accordion-button  {
	color: #777272;
	padding: 0;
	margin-bottom: 0px;
}

.mobile-app-accordion .accordion-button i {
	padding-bottom: 0;
	font-size: 16px;
	margin-right: 30px;
	transform: rotate(360deg);
}

.mobile-app-accordion .accordion-button:not(.collapsed) i {
	transform: rotate(90deg);
	color: blue;
	padding-bottom: 0;
	font-size: 16px;
	padding-right: 0;
	padding-left: 0;
	color: gray;
}

.left-arrow {
	position: absolute;
    margin-top: 22%;
    margin-left: 100px;
    float: left;
    color: blue;
    background: white;
    padding-bottom: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.left-arrow:hover, .right-arrow:hover {
	color: white;
	background: transparent;
	transition: 0.5s;
}

.right-arrow {
	position: relative;
    float: right;
    margin-right: 100px;
    margin-top: -15%;
    color: blue;
    background: white;
    padding-bottom: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.header-left-contant {
	padding-top: 120px;
}

.skype-description {
	background: #12c6f0;
	text-align: center;
	color: white;
}

.skype-description {
	padding: 50px 0;
}

.skype-description-img {
	padding: 50px 0;
}

.skype-description .description-box {
	padding: 40px 10px;
}

.skype-description .description-box i {
	font-size: 30px;
	padding-bottom: 15px;
}

.trello-information-right .accordion-item {
	border: none;
}

.trello-information-right .accordion-item button {
	padding: 0;
}

.trello-information-right .accordion-button {
	box-shadow: none;
	background: transparent;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

.product-page .navbar-nav li i {
	color: white;
	font-size: 15px;
}

.skype-banner {
	background: #20caf0;
	color: white;
	padding-bottom: 200px;
}

.skype-heading {
	padding: 30px 0 70px;
}

.skype-content-right {
	padding: 80px 45px 0;
}

.progress-bar {
	background: white;
	color: #20caf0;
	margin-top: -110px;
	box-shadow: 0 0 8px -2px #20caf0;
	padding: 25px;
}

.progress-heading {
	padding-bottom: 15px;
}

.progress-banner ul li {
	position: relative;
	width: 150px;
	margin: 0;
	z-index: 1;
}

.progress-banner ul li i {
	background: #20caf0;
	color: white;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
}

.progress-banner ul li i:after {
	content: "";
	background: #20caf0;
	height: 3px;
	width: 155px;
	display: block;
	position: absolute;
	left: 0;
	top: 34px;
	z-index: -1;
}

.progress-banner h6 {
	padding-top: 15px;
}

.progress-banner ul li:first-child i:after {
	left: 100px;
}

.progress-banner ul li:last-child i:after {
	width: 100px;
}

.skype-download-area {
	padding-top: 80px;
	padding-bottom: 80px;
}

.skype-download-area img {
	margin-top: 30px;
}

.skype-download-area .padding-rt {
	padding-right: 50px;
}

.skype-faq {
	text-align: center;
	border-bottom: 1px solid gray;
	padding-bottom: 40px;
}

.skype-faq-heading {
	padding: 50px 0;
}

.skype-faq h2 {
	color: #12c6f0;
}

.skype .copyright {
	background: white;
	border-bottom: 10px solid #12c6f0;
}

.skype .copyright p {
	color: black;
}

.skype .copyright a {
	color: black;
}

.slack-area {
	background: #60adc9;
	color: white;
	overflow: hidden;
}

.slack-heading {
	padding: 40px 0 80px;
}

.slack-heading h2 {
	margin-top: 10px;
}

.slack-menu-bar .navbar {
	float: right;
	margin-top: 10px;
}

.sign-up-btn {
	padding: 10px 45px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 9px -2px darkslategrey;
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;;
    float: right;
}

.sign-up-btn:hover {
	box-shadow: none;
}

.slack-banner {
	text-align: center;
}

.slack-banner button {
	padding: 10px 30px;
    color: #60adc9;
    font-family: 'Gentium Book Basic', sans-serif;
    border: none;
    border-radius: 25px;
    background: white;
}

.slack-banner button:hover {
	box-shadow: 0px 0px 9px -2px darkslategrey;
}

.slack .video-play-btn {
	position: relative;
	height: 110px;
}

.slack-area a {
	color: white;
}

.slack-slider ul {
	margin-bottom: 30px;
	float: right;
}

.slack-slider ul li {
	display: block;
	margin-right: 30px;
}

.slack-slider ul li i {
	font-size: 16px;
	margin: 0px 10px;
}

.slack-slider ul li i:before {
	border-radius: 50%;
}

.slack-slider ul li i:hover:before {
	color: black;
}

.slack-team-communication img {
	margin-left: -295px;
}

.team-content {
	padding-top: 30px;
}

.timeline-item {
	width: 100%;
	position: relative;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 125%;
    background-color: #608fbf;
    left: 11px;
    margin-top: 20px;
}

.timeline-number {
	width: 25px;
    height: 25px;
    background: #608fbf;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: absolute;
    font-family: 'Gentium Book Basic' sans-serif;
	font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}

.timeline-item:last-child {
	height: 0;
}

.timeline-content {
	margin-left: 65px;
	padding-top: 20px;
}

.timeline-content:hover {
	background: #b8c6cb;
}

.slack .accordion-item h2 {
	padding-bottom: 0;
}

.slack-app {
	background: #60adc9;
	text-align: center;
	padding: 50px 0;
	color: white;
}

.slack-app button {
	padding: 8px 45px;
    border: none;
    border-radius: 25px;
    margin: 30px 0 45px;
    color: #0d6efd;
    font-family: 'Gentium Book Basic' sans-serif;
	font-weight: 600;
}

.slack-app img {
	margin-bottom: 40px;
	width: 100%;
}

.slack-tool img {
	width: 100%;
}

.slack-tool {
	padding: 60px 0;
}

.slack .gmail-business {
	text-align: center;
	background: #63b4d1;
	color: 	white;
}

.slack .gmail-business-box {
	margin: 0 10px;
	box-shadow: none;
	color: black;
	background: white;
}

.accordion-button::after {
	background-image: none;
	width: 0;
}

.accordion-button:not(.collapsed):after {
	background-image: none;
}

.accordion-button i {
	padding-bottom: 0;
	font-size: 16px;
	margin: 10px;
}

.trello .gmail-header button {
	float: right;
    padding: 8px 40px;
    border-radius: 25px;
    border: 2px solid #4ce0b3;
    background: transparent;
    color: white;
    font-family: 'Gentium Book Basic', sans-serif;
}

.trello .gmail-head {
	background: #439b9a;
}

.trello-description {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.trello-description-heading {
	padding-bottom: 60px;
}

.trello-description p {
	color: #828a97;
}

.trello-description-body i {
	color: #0fa3a1;
	padding-bottom: 15px;
	font-size: 30px;
}

.trello-description-body h2 {
	font-size: 25px;
}

.trello-description-body {
	padding: 0 30px;
}

.trello-description-body:nth-child(n+1):nth-child(-n+3) {
	padding-bottom: 60px;
}

.trello-team-work {
	background: #268e8d;
	color: white;
	padding: 80px 0;
}

.trello-team-work img {
	width: 140%;
	margin-left: -270px;
}

.team-work-right {
	padding-top: 40px;
}

.team-work-right p {
	padding: 10px 0;
	line-height: 24px;
}

.team-work-right button {
	padding: 10px 40px;
    border-radius: 25px;
    border: none;
    background-color: #52e1b6;
    color: white;
    font-family: 'Gentium Book Basic', sans-serif;
    margin-top: 30px;
}

.team-work-right button:hover {
	background: white;
	color: #52e1b6;
	transition: 1s;
}

.trello-board {
	padding: 80px 0;
}

.trello-board-content {
	padding-top: 40px;
}

.trello-board-content p {
	font-family: poppins, sans-serif;
	font-weight: 400;
    color: #737982;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 18px;
}

.trello-board-content button {
	padding: 10px 40px;
    border-radius: 25px;
    border: none;
    background-color: #52e1b6;
    color: white;
    font-family: 'Gentium Book Basic', sans-serif;
    margin-top: 30px;
}

.trello-board-content button:hover {
	box-shadow: 0 0 10px 0 #52e1b6;
	transition: 1s;
}

.trello-board-img img {
	margin-left: 138px;
	width: 105%;
}

.trello-information {
    background: #268e8d;
    text-align: center;
    color: white;
    padding: 60px 0;
}

.information-heading {
	padding-bottom: 25px;
}

.information-video {
	background: #eaeaea;
    height: 300px;
    width: 88%;
    border-radius: 5px;
    position: relative;
}

.information-video i {
	height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #7d7d7d;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    padding: 0;
}

.information-video p {
	color: #7d7d7d;
	font-family: 'Gentium Book Basic', sans-serif;
	padding-top: 10px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 45px;
    margin-left: -50px;
}

.trello-information-right .accordion-item {
	background: none;
}

.trello-information-right .accordion-item button {
	border: none;
	color: white;
	margin: 12px 0;
}

.trello-information-right .accordion-item i {
	font-size: 15px;
	padding-bottom: 0;
}

.trello-information-right .accordion-body {
	padding: 0;
	padding-bottom: 15px;
	padding-left: 22px;
}

.trello-waiting {
	padding: 60px 0 25px;
	text-align: center;
	border-bottom: 1px solid dimgray;
}

.trello-waiting button {
	padding: 10px 60px;
    background: #4ce0b3;
    color: white;
    font-family: 'Gentium Book Basic', sans-serif;
    border: none;
    border-radius: 25px;
    margin: 30px 0;
    box-shadow: 0 0px 10px 0 #4ce0b3;
}

.trello-waiting h6 {
	font-family: 'Gentium Book Basic', sans-serif;
}

.trello .copyright {
	color: dimgray;
	background: white;
}

.trello .copyright a {
	color: dimgray;
}

.trello .copyright ul {
	text-align: center;
	float: none;
}

.trello .copyright p {
	color: dimgray;
}

.trello .copyright .navbar-nav a {
	color: dimgray;
}

.our-app .video-play-btn {
	height: 0;
	margin-bottom: 90px;
}

.app-overview {
	background: #565cc9;
	padding: 80px 0;
	text-align: center;
}

.overview-boxs i {
	color: #565cc9;
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    line-height: 80px;
    border-radius: 50%;
	font-size: 40px;
	margin-bottom: 25px;
}

.overview-boxs {
	background: white;
	padding: 50px 20px;
	margin-bottom: 30px;
}

.overview-boxs:not(:nth-child(4)) {
	border-right: 1px solid lightgray;
}

.trello-information-right .developer-btn button {
	padding: 10px;
    width: 30%;
    background: #2c9cf3;
    color: white;
    font-family: 'Gentium Book Basic', sans-serif;
    border-radius: 5px;
    border: 1px solid #2c9cf3;
    margin: 50px 10px 0 0;
    transition: 0.5s;
}

.trello-information-right .developer-btn button:hover {
	background: white;
	color: #2c9cf3;
}

.trello-information-right h4 {
	color: #2c9cf3;
    font-size: 25px;
    font-family: 'Gentium Book Basic', sans-serif;
    padding-bottom: 20px;
}

.trello-information-right h4 span {
	color: black;
}

.skype-description button {
	padding: 13px 50px;
    font-family: 'Gentium Book Basic', sans-serif;
    border: none;
    border-radius: 5px;
    background: #0f7ccf;
    color: white;
}

.feedback-banner img {
	width: 10%;
}

.feedback-area {
	background: #4047d8;
    padding: 55px 30px 40px;
    line-height: 25px;
    margin-top: -35px;
    z-index: -1;
    color: lightgray;
}

.reply-slider {
	position: relative;
}

.slider-left {
	position: absolute;
	top: 50%;
	color: white;
	background: #4047d8;
	height: 35px;
	width: 35px;
	line-height: 35px;
	border-radius: 0;
}

.slider-right {
	left: 95%;
}

.mobile-contact {
	text-align: center;
    background: #4047d8;
    color: white;
    height: 250px;
	padding-top: 35px;
}

.contact-details {
	padding: 60px 80px 40px;
    text-align: center;
    box-shadow: 0 0 6px 0px grey;
    background: white;
    margin-top: -135px;
}

.contact-details input[type=name],input[type=subject],input[type=message], input[type=email] {
	width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.contact-details input[type=name],input[type=subject],input[type=message], input[type=email]:focus {
	outline: none;
}

.faq01-general {
	border-bottom: none;
}



.accordion-button:after {
	background-image: none;
}

.accordion-button {
	background: none;
	padding: 20px 15px;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-collapse:focus {
	background: red;
}

.accordion-header {
	padding-bottom: 0;
}

.copyright {
	background: #4046bd;
}

..accordion-item .collapsed {
	border-bottom: 1px solid red;
}